
<div class='pagination <%= module %> list_<%= unique %>''>
    <ul>
        <li>
           <span> Go To Page<input type="number" class="page" style="width:50px" value="<%=current_page%>"></span>
        </li>
		<li>
			 <span> /<%=total_pages%></span>
		</li>
		<li>
		    <img src="images/searchMore.gif" class="searchpage">
		</li>
        <li>
            <a>First</a>
        </li>
        <li>
            <a>Prev</a>
        </li>
        <li>( <%=count.start%> - <%=count.end%> of <%=count.total%> )</li>
        <li>
            <a>Next</a>
        </li>
        <li>
            <a>Last</a>
        </li>
    </ul>
</div>