<div class="row form_<%= unique %>">
    <% 
    array = [];
    var count = 0;
    var mata = meta_view.search[view];

    var langdata = language
    $.each(mata, function (i, j) {
    label = j.label;
    if (!_.isEmpty(langdata[label])) {
    labelVal = langdata[label];
    }else{
    labelVal = label;
    }
    if (i.indexOf("cust_") == 0) {
    var fielddata = j["html_type"];

    if (fielddata == "select" || fielddata == "multiselect") {
    array[count] = [i, fielddata, labelVal, langdata[fields[i]['options']]];
    } else if (fielddata == "text") {
    if (typeof j["placeholder"] !== "undefined") {
    array[count] = [i, fielddata, labelVal, j['placeholder']];
    } else {
    array[count] = [i, fielddata, labelVal, ''];
    }
    } else {
    array[count] = [i, fielddata, labelVal];
    }
    } else {
    if(_.isEmpty(j["html_type"])){
    var fielddata = fields[i]['html_type'];
    }else{
    fielddata = j["html_type"];
    }

    if (fielddata == "select" || fielddata == "multiselect") {
    array[count] = [i, fielddata, labelVal, langdata[fields[i]['options']]];
    } else if (fielddata == "text") {
    if (typeof fields[i]["placeholder"] !== "undefined") {
    array[count] = [i, fielddata, labelVal, fields[i]["placeholder"]];
    } else {
    array[count] = [i, fielddata, labelVal, ""];
    }
    } else {
    array[count] = [i, fielddata, labelVal];
    }
    }
    count++;
    });
    var cols = 0;
    $.each(array, function (i, j) {
    if (cols % 3 == 0) {
    %><div class = "row"><%
        }

        switch (j[1]) {
        case "text":
        %><div class ="col-sm-1"><span class="search_label"><%=j[2] %></span></div><div class ="col-sm-3"><input type="text" class ="textfield" name="textdata" field ="<%=j[0] %>" placeholder="<%=j[3] %>"></div><%
        break;
        case "checkbox":
        %><div class ="col-sm-1"><span class="search_label"><%=j[2] %></span></div><div><input type="checkbox" name="textdata" value= "" field = "<%=j[0] %>" ></div><%
        break;

        case "radio":
        %><span class="search_label"><%=j[2] %></span><input type="checkbox" name="textdata" value="" field =  "" + j[0] %>"><%
                                                             break;

                                                             case "bool":
                                                             %><div class ="col-sm-1"><span class="search_label"><%=j[2] %></span></div>
        <div class = "col-sm-3"><select style="height:23px;" id =  "<%=j[0] %>">
                <option value = selected></option>
                <option value =1>Yes</option>
                <option value =0>No</option>
            </select></div><%
        break;

        case "select":
        %><div class ="col-sm-1"><span class="search_label"><%=j[2] %></span></div><div class = "col-sm-3"><select field = "<%=j[0] %>" style="height:23px;"><%
                var options = j[3];
                for (var opt in options) {
                %><option value= "<%= opt %>"><%= options[opt] %></option><%
                }
                %></select></div><%
        break;

        case "multiselect":
        %><div class ="col-sm-1"><span class="search_label"><%=j[2] %></span></div><div class = "col-sm-3"><select name="<%=j[0] %>" field = "<%=j[0] %>" multiple><%
                var options = j[3];
                for (var opt in options) {
                %><option value= "<%=opt %>"><%=options[opt] %></option><%
                }
                %></select></div><%
        break;

        case "datetime":
        %><div class ="col-sm-1"><span class="search_label"><%=j[2] %></span></div><div class = "col-sm-3"><input type="text" class="datepicker" field_type="datetime" field="<%=j[0]%>"></div><%
        break;

        case "decimal":
        %><div class ="col-sm-1"><span class="search_label"><%=j[2] %></span></div><div class = "col-sm-3"><input type="datetime-local" name="textdata" value="" field ="<%=j[0] %>" ></div><%
        break;

        }
        cols++;
        if (cols % 3 == 0 && cols != 0) {
        cols = 0;
        %></div><%
    }
    });
    if(cols > 0){
    %></div><%
}
%>
<div class="row">
    <div class="col-sm-6">
        <button type ="button" class ="search">Search</button>&nbsp;
        <button type ="button" class ="clear">Clear</button>&nbsp;
        <button type="button" class="add_filters"><span>+</span>&nbsp;Add Filters</button>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4">
                <select class = searchedVal>
                    <option></option>
                </select>
            </div>
            <div class="col-sm-4">
                <input type="text" placeholder="Search name" class="name"/>
            </div>
            <div class="col-sm-4">
                <button type="button" class="save_search">Save Search</button>
            </div>
        </div>
        
    </div>
</div>
<div class="filters"></div>
</div>