<div class='row'>
    <div class='col-xs-4'><button id='meetings' class='btn btn-primary button'><span class="label label-success">5</span>Meetings</button></div>
    <div class='col-xs-4'><button id='sahiya' class='btn btn-info button'><span class="label label-warning">5</span>Sahiya</button></div>
    <div class='col-xs-4'><button id='refresh' class='btn btn-link'><span class="glyphicon glyphicon-refresh" /></button></div>
</div>
<hr class='hr_line'>
<div class='row'>
    <div class='col-sm-12'>
        <h3><strong>
                <%= utils.user.dashboard_title %></strong>
            <h3>
    </div>
</div>
