<div class="admin_main">
    <div class="row header admin">
        <div class="col-sm-12">
            <label>Administration</label>
        </div>
    </div>
    <br>
    <div class="row admin_coll">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <span><a href="#OutBoundEmail">Email Settings</a></span>
                </div>
                <div class="col-sm-8">
                    <span>Outbound Email settings configuration</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <span><a href="#Users">User Management</a></span>
                </div>
                <div class="col-sm-8">
                    <span>Create, delete, update Users</span>
                </div>
            </div>
        </div>
    </div>
</div>
