<link rel="stylesheet" type="text/css" href="css/style.css" />
<div class="header" id="header">
    <div class="row">
        <div class="col" style="float: left;">
            <a href="">
                <img src="images/company_logo.png" width="240px" height="60px" alt="Company logo" border="0">
            </a>
        </div>
        <div class="col"  style="float: right;" >
            <div style="float: right;">Welcome, <strong><%= user.first_name %> <%= user.last_name %></strong> [<a style="color: #A0CE4E;" id="log_out">Log Out</a>]&nbsp;&nbsp;<a class="header_links" href="">Employees</a>&nbsp;&nbsp;<a class="header_links" href="#Administration">Admin</a></div>
        </div>
    </div>
    <div class="row header" style="float: right;">
        <div class="unified_search">
            <div style="float: right;border-left: 1px solid #000;"> 
                <input type="text" id="global_search" name="global_search" style="width:140px;">&nbsp;
                <input type="button" value="Search" id="unified_search_btn" name="unified_search_btn"/>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row header" style="float: right;">
        <div style="float: right;">
            <a class="header_links" href="MASTER_SUBSCRIPTION_AGREEMENT.html" target="_blank">Agreements</a> | <a  class="header_links" href="TERMS_OF_USE.HTML" target="_blank">Terms</a>
        </div>
    </div>
</div>
<br>
<div class="nav_bar">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="row">
            <div class="navbar-header">
                <button type="button" id="menubutton" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar" style="background-color: black;"></span> 
                    <span class="icon-bar" style="background-color: black;"></span> 
                    <span class="icon-bar" style="background-color: black;"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#home" data-toggle="collapse" data-target=".navbar-collapse" > 
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" >
                            <span>Talent</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href ="#Contacts"><img src="images/Contacts1.png" class ="menu_img">&nbsp;&nbsp;Contacts</a></li>
                            <ul>
                                <li><a href="#Contacts/q/Active">Active</a></li>
                                <li><a href="#Contacts/q/In-Active">In Active</a></li>
                            </ul>
                            <li><a href="#Leads"><img src="images/Leads.png" class ="menu_img">&nbsp;&nbsp;Leads</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"> <a  class="dropdown-toggle" data-toggle="dropdown" >
                            <span >Facilities</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#Accounts/q/Active"><img src="images/Accounts.png" class ="menu_img">&nbsp;&nbsp;Active</a></li>
                            <li><a href="#Accounts/q/In-Active"><img src="images/Accounts.png" class ="menu_img">&nbsp;&nbsp;In Active</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"> <a  class="dropdown-toggle" data-toggle="dropdown" >
                            <span >Jobs</span>
                        </a> 
                        <ul class="dropdown-menu">
                            <li><a href="#Jobs/q/OpenedJobs"><img src="images/Jobs.png" class ="menu_img">&nbsp;&nbsp;Job Reqs.</a></li>
                            <li><a href="#Jobs/q/ClosedJobs"><img src="images/Jobs.png" class ="menu_img">&nbsp;&nbsp;Closed Job Reqs.</a></li>
                            <li><a href="#Jobs/record/create"><img src="images/Jobs.png" class ="menu_img">&nbsp;&nbsp;Staffing Jobs</a></li>
                        </ul>

                    </li>
                    <li class="dropdown"> <a  class="dropdown-toggle" data-toggle="dropdown" >
                            <span >Activities</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a>Calendar</a></li>
                            <li><a href="#Calls"><img src="images/Calls.png" class ="menu_img">&nbsp;&nbsp;Calls</a></li>
                            <li><a><img src="images/EmailFolder.png" class ="menu_img">&nbsp;&nbsp;Emails</a></li>
                            <li><a><img src="images/Meetings.png" class ="menu_img">&nbsp;&nbsp;Interviews</a></li>
                            <li><a href="#Notes"><img src="images/Notes.png" class ="menu_img">&nbsp;&nbsp;Notes</a></li>
                            <ul><li><a href="#Notes/q/Critical">Critical Notes</a></li></ul>
                        </ul>
                    </li>
                    <li class="dropdown"> <a  class="dropdown-toggle" data-toggle="dropdown" >
                            <span >Documents</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#Documents/q/Resume"><img src="images/Documents.png" class ="menu_img">&nbsp;&nbsp;Resumes</a></li>
                            <li><a href="#Documents/q/OtherForms"><img src="images/Documents.png" class ="menu_img">&nbsp;&nbsp;Other Forms</a></li>
                            <li><a href="#Documents/q/uploadresume"><img src="images/action_icon_upload_cv.gif" class ="menu_img">&nbsp;&nbsp;Upload Resume</a></li>

                        </ul>
                    </li>
                    <li class="dropdown"> <a  class="dropdown-toggle" data-toggle="dropdown" >
                            <span >Marketing</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a>Access</a></li>
                            <li><a>Power Dialer</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"> <a  class="dropdown-toggle" data-toggle="dropdown" >
                            <span >Reports</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="open_position_report">Open Position Report</a></li>
                            <li><a id="aging_report">Aging Report</a></li>
                            <li><a id="source_report">Source Report</a></li>
                            <li><a id="rec_status_report">Recruiter status Report</a></li>
                            <li><a id="eventconf_report">Event / Conference Report</a></li>
                            <li><a id="prn_report">PRN Report</a></li>
                            <!--<li><a id="power_dialer_report">Power Dialer Report</a></li>-->
                            <li><a id="contract_labor_report">Contract Labor Report</a></li>
                            <li><a href ="#UsersLog">Recruiter's log Report</a></li>
                            <li><a id ="billing_report">Billing Report</a></li>
                            <li><a href ="#ADONames">ADO Names</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" >
                            <span >Support</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href ="http://support.focuscss.com/table-of-contents/" target="_blank" >Help Desk</a></li>
                            <li><a href="TalentMaxxQuickStartGuide_6_26.pdf" target="_blank">Quick Start Guide</a></li>
                            <li><a href="mailto:support@focuscss.com" target="">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<script>
    $(".navbar-nav>li").hover(function (e) {
        $(e.target.nextElementSibling).css({"display": "block"});
    }, function () {
        $(".navbar-nav>li>ul").css({"display": "none"});
    });
</script>
<div class="line"></div>