<%
var language = data.get("language");
var view = data.get("meta_view").record;
var _fields = data.get("fields");
function loadButtons(view){
        var buttonCount=0;
        var dropdown=true;
        var dropdown_end=false;
        _.each(view, function(v, i){
            if(i == "buttons"){
                _.each(v, function(button, key){
                    if(buttonCount > 1){
                        if(dropdown){
                            dropdown = false;
                            dropdown_end = true;
                            %>
                            <div class="dropdown">
                                <button class="btn record_action_button dropdown-toggle" type="button" data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">

                            <%
                        }
                        %>
                        <li><a id="<%= key %>"><%= language[button.label]%></a></li>
                        <%
                    }else{
                        %>
                        <button class="btn record_action_button" type="button" id="<%= key %>">
                            <%= language[button.label]%>
                        </button>
                        <%
                    }
                    buttonCount++;
                });
                if(dropdown_end){
                    %>
                    </ul></div>
                    <%
                }
            }
        });
    }
    %><div class="row edit-actions <%= data.module %> "><% if(!_.isEmpty(view.header)){loadButtons(view.header)} %>
        <div style="float: right" class="col-sm-2 pagination_prev_next_rec">
            <div class="row">
                <ul>
                    <li class="prev"></li>
                    <li class="info"></li>
                    <li class="next"></li>
                </ul>
            </div>
        </div>
    </div>
	