<link rel="stylesheet" type="text/css" href="css/login.css" />
<div align="center" style="margin-top:3%;">
    <div class="row">
        <div class="col-sm-12">
            <form action="#" method="post" name="DetailView" id="loginForm">
                <img id="company_pic" src="images/company_logo.png" width="177" height="38" alt="Company logo" border="0">
                <div><h3>Intelligent Recruiting for Today and Tomorrow</h3><h4>Built by Recruiters, for Recruiters</h4></div>
                <br>
                <span class="error" style="font-size: 15px"></span>
                <div class="box">
                    <img style="height: 75px;width: 90px;" src="images/settings2.png" width="177" height="38" alt="logo" border="0">
                    <br>
                    <br>
                    <br>
                    <span class="error"></span>
                    <input type="text" size="35" tabindex="1" id="user_name" name="user_name" value="">
                    <p style=""></p>
                    <input type="password" size="26" tabindex="2" id="user_password" name="user_password" value="">
                    <p style=""></p>
                    <input class="button primary" type="button" tabindex="3" id="login_button" name="Login" value="Sign In">
                    <p style=""></p>
                    <p style="float:right;padding-right:4%;cursor:ponter;"><a style="color:black;font-size:10px" href="">Employees</a></p>
                </div>
            </form>
        </div>
    </div>
    <div align="center" style="bottom: 15px;width: 100%;position: fixed;"><p>Powered By</p>
        <a href="http://focuscss.com/" target="_blank"><img style="height: 75px;width: 205px;" src="images/focus_logo.jpg" width="135" height="35" alt="logo" border="0"></a>
    </div>
</div>