body {
    background-image:url(../img/test.png);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.login-logo {
    font-size: 35px;
    color: #fff;
    margin-top: 8%;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}
#login_button {
    color:#fff;
    background-color: #0e960e;
    border-radius: 2em / 5em;
}

#login-footer {
    font-size: 14px;
    margin-top: 30%;
    color: #fff;
}

