body {
    background-image: url("../img/test.png");
    height: 200%;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}

.login-logo {
    font-size: 35px;
    color: #fff;
    margin-top: 8%;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}
#login_button {
    color:#fff;
    background-color: #0e960e;
    border-radius: 2em / 5em;
}

#login-footer {
    font-size: 14px;
    margin-top: 30%;
    color: #fff;
}

